* {
    margin: 0;
    font-family: 'Jost', sans-serif;
    padding: 0;
    
}

.nav-bar {
    position: relative;
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    z-index: 1000;
}

.company-logo {
    font-size: 28px;
}

.burger {
    display: block;
    background-color: white;
    margin: 2px;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.hamburger
{
    display: none;
}

/* .hamburger :nth-child(2)
{
    display: none;
    transform: rotate(35deg)
}
.hamburger :nth-child(1)
{
    transform: rotate(45deg) translateY(50%) translateX(10%)
}
.hamburger :nth-child(3)
{
    transform: rotate(-45deg) translateY(-50%) translateX(10%);
} */

.list-items {
    display: flex;
}

.list-items li {
    display: inline;
    margin: 0 5px;
}

.list-items a {
    text-decoration: none;
    color: white;
    padding: 5px;
    height: 100%;
}

.list-items a:hover {
    color: #333;
    background-color: white;
}

.sign_in, .sign_up, .new_post, .post, .posts {
    position: absolute;
    width: 90%;
    margin: 15px auto;
    padding: 15px;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 3px black;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.posts div {
    padding-bottom: 12px;
}

.title {
    font-size: 24px;
}

.summary {
    font-size: 15px;
}

.link a {
    font-size: 15px;
    background-color: #333;
    width: 72px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.link a:hover {
    color: white;
    background-color: saddlebrown;
}

input[type=text], input[type=password] {
    display: block;
    margin: 5px auto;
    padding: 5px 5px;
    width: 100%;
    color: black;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
}

::placeholder {
    color: black;
    letter-spacing: 5;
}

input[type=submit], input[type=reset] {
    display: inline-flex;
    padding: 5px 5px;
    outline: none;
    border: none;
    align-items: center;
}

.new_post form, .sign_in form, .sign_up form {
    display: block;
    margin: 5px auto;
    width: 80%;
    justify-content: center;
}

@media (max-width: 768px) {

    .hamburger
    {
        display: block;
    }
    .list-items {
        display: none;
        position: absolute;
        text-align: center;
        top: 7.5vh;
        right: 0;
        width: 100%;
        background-color: #333;
        z-index: 1000;
    }
    .list-items li a {
        display: block;
        background-color: #333;
        padding: 10px;
        margin: 0;
    }
    .list-items li {
        margin: 0;
    }
    .sign_in, .sign_up, .new_post, .post, .posts {
        width: 70%;
    }
}